  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #07004D;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}